:root {}

@font-face {
    font-family: "FOT-Chiaro";
    src: url("../font/FOT-Chiaro.otf");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "FOT-Chiaro";
    color: white;
    user-select: none;
    user-zoom: none;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#frame {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

#dialogueBox {
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 750px;
    min-width: 750px;
    max-height: 150px;
    min-height: 150px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 25px 25px 25px;
    border-radius: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dialogueText {
    font-size: 21pt;
    max-width: calc(100% - 75px);
    min-width: calc(100% - 75px);
    max-height: 80%;
    min-height: 80%;
    margin: 0 0 0 45px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 37.5px;
}

.dialogueSquare {
    background-color: #003A96;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #002156;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -12.5px;
    left: 50%;
    transform: translateX(-50%);
    animation: Glow 2s infinite;
}

@keyframes Glow {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
    }
}